body {
  width: 80% ;
  font-family: 'Inter var', sans-serif;
  color: #34495e;
  background: #f8f9fa;
}


table {
    border-collapse: collapse;
    /*table-layout: fixed;*/
    width: 100%;
}

thead {
    font-size: 1em;
    letter-spacing: 0;
    /*font-weight: 50;*/
    text-align: left;
}

thead th {
    position: sticky;
    top: 0;
    color: #f8f9fa;
    background: #34495e;
    padding: 1em 0.8rem;
}
