body {
  width: 80% ;
  font-family: 'Inter var', sans-serif;
  color: #34495e;
  background: #f8f9fa;
}

table {
    border-collapse: collapse;
    /*table-layout: fixed;*/
    width: 100%;
}

thead {
    font-size: 1em;
    letter-spacing: 0;
    /*font-weight: 50;*/
    text-align: left;
}

thead th {
    position: sticky;
    top: 0;
    color: #f8f9fa;
    background: #34495e;
    padding: .2em 0.8rem;
    text-align: center ;
}

th a {
  color: white ;
}

td p {
  padding: 0 ;
}
th p {
  padding: 0 ;
}

td {
  padding: 0.5em 0.5rem;
  text-align: center ;
  border: 1px solid #34495e ;
}

td.holiday {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
}

tr.current-week {
  background: pink ;
}

tr.past-week {
  background: grey ;
}

tbody tr.past-week:hover {
    background: #f0f0f3;
}

td.eff-cert {
  background: lightyellow ;
}

tr.future-week:nth-child(odd) {
    background: #d7ecec;
}

tr.future-week td.psd-early {
  background: yellow ;
}

tr.future-week td.psd-early::after {
  content: "\A Friday" ;
  white-space: pre ;
}

tr.future-week td.tad-early {
  color:red ;
}

tr.future-week td.tad-early::after {
  content: "\A 8am" ;
  white-space: pre ;
}

td.no-deduct::after {
  content: "\A $$$";
  white-space: pre ;
}
